@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mea+Culpa&family=Satisfy&family=Tangerine&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mea+Culpa&family=Satisfy&family=Signika+Negative:wght@300&family=Tangerine&family=Tilt+Prism&display=swap');

@keyframes slideOut {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-out {
  animation-name: slideOut;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}
.midSection{
    margin-top: 2rem;
    margin-right: 4rem;
    margin-left: 4rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 40rem;
  
 
  }
  .midBox1{
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    display: flex;
  
    width: 50%;
    height: 40rem;
  }
  .midBox2{
    
    width: 50%;
    height: 40rem;
  
  }
  .midBox2 img{
    filter: drop-shadow(2px 4px 6px black);
    height: inherit;
  }
  .icons{
    display: flex;
    flex-direction: row;
  
  }
  .insideIcon{
    list-style: none;
  }
  .iconImg{
    padding: 0rem 0.6rem;
    height: 3rem;
  }
  .iconImg:hover{
    filter: drop-shadow(2px 4px 6px black);
  }
  .mainName{
    
  
    font-size: 6rem;
    color: #2f2e41;
    
  }
  .Box1b{
  
    color: #646262;
 
    font-size: 2.7rem;
    
    margin-top: 3rem;
  }
  .Box1c
  
  {
    margin-top: 2rem;
    
    
  }
  .Box1d
  {
  
    margin-top: 1rem;
    border-radius: 0.7rem;
    height: 3rem;
  
    background-color: rgb(2, 3, 51);
    color: white;
  }
  .Box1d a{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
  }
  .text{
   
    font-family: 'Signika Negative', sans-serif;
    margin-top: 0.3rem;
  }

  
  @media screen and (max-width: 563px){
    .midSection{
        margin-top: 2rem;
        margin-right: 4rem;
        margin-left: 4rem;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40rem;
      
      
      }
      .midBox1{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
      order: 1;
        width: auto;
        height: auto;
        margin-bottom: 8rem;
      }
      .midBox2{
        width: auto;
        height: 17rem;
       order: -1;
      }
      .midBox2 img{
        filter: drop-shadow(2px 4px 6px black);
        height: inherit;
      }
      .icons{
        display: flex;
        flex-direction: row;
      
      }
      .insideIcon{
        list-style: none;
      }
      .iconImg{
        padding: 0rem ;
        height: 2rem;
      }
      .iconImg:hover{
        filter: drop-shadow(2px 4px 6px black);
      }
      .mainName{
        
      display: none;
        font-size: 6rem;
        color: #2f2e41;
        
      }
      .Box1b{
      
        color: #646262;
     text-align: center;
        font-size: 1.7rem;
        
        margin-top: 3rem;
      }
      .Box1c
      
      {
        margin-top: 2rem;
        
        
      }
      .Box1d
      {
       display: none;
      }
      .Box1d a{
        font-size: 1.6rem;
        color: white;
        text-decoration: none;
      }
      .text{
       
        font-family: 'Signika Negative', sans-serif;
        margin-top: 0.3rem;
      }
    
  }